@page
@using PokemonApi_SpicyBananas.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h1 class="text-danger">@Model.ErrorMessage</h1>
}


<select id="pokemon-list" name="pokemon">
    @foreach(var pokemon in Enum.GetNames(typeof(Pokemons)))
    {
        <option value="@pokemon">@pokemon</option>
    }
</select>

<button> Information </button>
