@page
@using PokemonApi_SpicyBananas.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h1 class="text-danger">@Model.ErrorMessage</h1>
}

@if(Model.PokemonModels != null && Model.PokemonModels.Any())
{
    @foreach(PokemonModel pokemonModel in Model.PokemonModels)
    {
        <h1>@pokemonModel.Name</h1>
        <h1>@pokemonModel.Height</h1>
    }
}
