@page
@using PokemonApi_SpicyBananas.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h1 class="text-danger">@Model.ErrorMessage</h1>
}

@if(Model.Pokemon != null)
{
    <h1>@Model.Pokemon.Name</h1>
    <ul>
    @foreach(var form in Model.Pokemon.Forms)
    {
       <li>@form.Name</li> 
    }
    </ul>
}
